binds {
    Super+B hotkey-overlay-title="Wallpaper: Previous" { spawn "dms" "ipc" "call" "wallpaper" "prev"; }
    Super+L hotkey-overlay-title="Lock Screen" { spawn "dms" "ipc" "call" "lock" "lock"; }
    Super+M hotkey-overlay-title="Wallpaper Browser" { spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }
    Super+N hotkey-overlay-title="Wallpaper: Next" { spawn "dms" "ipc" "call" "wallpaper" "next"; }
    Super+P hotkey-overlay-title="App Launcher: Toggle" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Super+V hotkey-overlay-title="Clipboard: Toggle" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    XF86AudioLowerVolume allow-when-locked=true hotkey-overlay-title="Volume Down" { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute allow-when-locked=true hotkey-overlay-title="Volume Mute Toggle" { spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioNext hotkey-overlay-title="Media: Next Track" { spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPlay hotkey-overlay-title="Media: Play/Pause" { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioPrev hotkey-overlay-title="Media: Previous Track" { spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioRaiseVolume allow-when-locked=true hotkey-overlay-title="Volume Up" { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86MonBrightnessDown allow-when-locked=true hotkey-overlay-title="Brightness Down" { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true hotkey-overlay-title="Brightness Up" { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    Super+Shift+S hotkey-overlay-title="Move to Workspace Down" { move-column-to-workspace-down; }
    Super+Shift+Tab hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Super+Shift+W hotkey-overlay-title="Move to Workspace Up" { move-column-to-workspace-up; }
    Super+Tab hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+WheelScrollDown hotkey-overlay-title="Focus Workspace Down" { focus-workspace-down; }
    Super+WheelScrollUp hotkey-overlay-title="Focus Workspace Up" { focus-workspace-up; }
    Alt+F4 hotkey-overlay-title="Close Window" { close-window; }
    Shift+Super+WheelScrollDown hotkey-overlay-title="Focus Right" { focus-column-right; }
    Shift+Super+WheelScrollUp hotkey-overlay-title="Focus Right" { focus-column-left; }
    Super+A hotkey-overlay-title="Focus Left" { focus-column-left; }
    Super+Alt+A hotkey-overlay-title="Move Left" { move-column-left; }
    Super+Alt+D hotkey-overlay-title="Move Right" { move-column-right; }
    Super+Alt+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Super+Alt+S hotkey-overlay-title="Move Down" { move-window-down; }
    Super+Alt+W hotkey-overlay-title="Move Up" { move-window-up; }
    Super+C hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Super+D hotkey-overlay-title="Focus Right" { focus-column-right; }
    Super+Down hotkey-overlay-title="Set Window Height" { set-window-height "+5%"; }
    Super+F hotkey-overlay-title="Maximize Window to Edges" { maximize-window-to-edges; }
    Super+Left hotkey-overlay-title="Set Column Width" { set-column-width "-5%"; }
    Super+Q hotkey-overlay-title="Close Window" { close-window; }
    Super+Right hotkey-overlay-title="Set Column Width" { set-column-width "+5%"; }
    Super+S hotkey-overlay-title="Focus Down" { focus-window-down; }
    Super+Shift+C hotkey-overlay-title="Switch Floating/Tiling Focus" { switch-focus-between-floating-and-tiling; }
    Super+Shift+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Super+Up hotkey-overlay-title="Set Window Height" { set-window-height "-5%"; }
    Super+W hotkey-overlay-title="Focus Up" { focus-window-up; }
    Super+X hotkey-overlay-title="Consume/Expel Right" { consume-or-expel-window-right; }
    Super+Z hotkey-overlay-title="Consume/Expel Left" { consume-or-expel-window-left; }
    Print hotkey-overlay-title="Screenshot (Interactive)" { screenshot; }
    Super+Shift+Q hotkey-overlay-title="Quit Niri" { quit; }
    Super+E hotkey-overlay-title="Open File Manager: Files" { spawn "nautilus" "-w"; }
    Super+T hotkey-overlay-title="Open Terminal: Ghostty" { spawn "ghostty"; }
    Scroll_Lock hotkey-overlay-title="Toggle Overview" { toggle-overview; }
    Super+H hotkey-overlay-title="Show Hotkey Overlay" { show-hotkey-overlay; }
}
